{% extends 'root.html' %}
{% block content %}
<section class="content">
  <h1 class="page-header text-center title"><b>{{ title}}</b></h1>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">

<div class="alert alert-danger alert-dismissible" id="alert" style="display:none;">
<button type="button" class="close" data-dismiss="alert"
aria-hidden="true">&times;</button>
<span class="message"></span>
</div>

                  <!-- Voting Ballot -->
<form method="POST" id="ballotForm" action="{% url 'verify_otp' %}" enctype = "multipart/form-data">
  {% csrf_token %}
<div class="row">
<div class="col-xs-12">
  <div class="box box-solid" id="">
      <div class="box-header with-border">
          <h3 class="box-title"><b>OTP VERFICATION</b>
              <hr>
          </h3>
      </div>
      <div class="box-body">
          <div id="candidate_list">
              <p><span class="pull-right">
                      <a id="request_otp"
                          class="btn btn-success btn-sm btn-flat "><i
                              class="fa fa-refresh"></i> Regenerate Image</a>
                  </span>
              </p>
          </div>
          <ul>
              <p> Please provide the image provided during registration to confirm your identity.. !</p>
          </ul>
          <hr />
          <div class="form-group has-feedback">
		  {{form.as_p}}
          <button type="submit" class="btn btn-primary btn-flat" name="verify"><i
            class="fa fa-check-square-o"></i> Upload For Verfication</button>
</div>
    </div>
      </div>
       </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}

{% block custom_js %}
  <script>
    $("#request_otp").click(function(){
      var button =  $("#request_otp");
      button.attr("disabled",true);
      $.ajax({
        url: "{% url 'resend_otp' %}",
        type: 'GET',
        
        success: function(response){
          console.log(response.data)
          console.log(response)
          if (response.error){
            toastr.error(response.data,"Error occurred while sending OTP");
          }else{

            toastr.success(response.data,"OTP Response");
          }
          button.attr("disabled",false);

        },
        error: function(response){
          toastr.error("Please try again later", "Error")
          button.attr("disabled",false);

        },

      });
    });
  </script>
{% endblock custom_js %}
